/* Estiliza o formulário para usar um layout flexível em coluna */
form {
    display: flex; 
    flex-direction: column; 
}

/* Botões */
.botoes {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }
  button {
    height: 45px;
    min-width: 120px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    width: 50%;
    color: #fff;
    transition: all 0.3s ease;
  }
  .btnSave{
    background-color: #2e7d32;
  }
  .btnCancel{
    background-color: #d32f2f;
  }/* Estilo botão salvar */
button.mat-raised-button {
    background-color: #388e3c;
    color: white;
  }
  
  button.btnSave:hover {
    background-color: #145719;
  }
  
  /* Estilo botão cancelar */
  button.mat-stroked-button {
    border: 1px solid #d32f2f;
    color: #d32f2f;
    background-color: white;
  }
  
  button.btnCancel:hover {
    background-color: #6b0f0f;
  }
  
mat-card {
    max-width: 600px; /* Limita a largura do cartão */
    margin: 20px auto; /* Centraliza o cartão na página */
    padding: 20px; /* Adiciona um pouco de espaço interno */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave ao redor do cartão */
    border-radius: 8px; /* Bordas arredondadas */
    background-color: #ffffff; /* Cor de fundo do cartão */
}

mat-card-title {
    font-size: 24px; /* Tamanho da fonte do título */
    margin-bottom: 20px; /* Espaço abaixo do título */
    color: #3f51b5; /* Cor do título */
    text-align: center; /* Centraliza o título */
}

mat-form-field {
    width: 100%; /* Faz os campos de formulário ocuparem toda a largura */
    margin-bottom: 20px; /* Espaço abaixo de cada campo */
}



